@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body{
    font-family: 'Roboto', sans-serif;
   /*  background: url("img/login.jpg") no-repeat center center fixed; */
    background-size: cover;
}

.main-section{
    margin: 0 auto;
    margin-top: 130px; 
    padding: 0;
}

.modal-content{
    background-color: #3b4652;
    opacity: .9;
    padding: 0 18px;
    box-shadow: 0px 0px 3px #848484;
}

.user-img{
    margin-top: 10px;
    margin-bottom: 20px;
}

.user-img img{
    height: 140px;
    width: 200px;
    border-radius: 5px;
}
.form-group{
    margin-bottom: 25px;
}

.form-group input{
    height: 35px;
    border-radius: 5px;
    border: 0;
    font-size: 15px;
}
button{
    background-color: #fdbd34ec;
    color: #848484;
    padding: 7px 14px;
    border-radius: 5px;
    border-bottom: 4px solid #219882;
    margin-bottom: 10px;
}
.btn:hover{
    background-color: #fd9800ee;
}
.forgot{
    padding: 5px 0 20px;
}